services:
  hentai-downloader:
    image: ghcr.io/fa0311/hentai-downloader:latest-scheduler
    container_name: hentai-downloader
    volumes:
      - ./input.json:/app/input.json
      - ./output:/app/output
      - ./.checkpoint:/app/.checkpoint
