services:
  hentai-downloader:
    image: ghcr.io/fa0311/hentai-downloader:latest-scheduler
    container_name: hentai-downloader
    volumes:
      - ./schedule.json:/app/schedule.json
      - ./output:/app/output
      - hentai-data:/app/data

volumes:
  hentai-data:
